<div class="container-fluid mt-1">
<!--  <header class="p-0">-->
<!--    <nav class="navbar navbar-expand-lg navbar-light border-bottom">-->
<!--      <span class="navbar-brand h3 float-right" > {{course.title}} </span>-->
<!--    </nav>-->
<!--  </header>-->
  <div class="row">
    <div class="col-3">
      <app-module-list></app-module-list>
    </div>
    <div class="col-9">
      <app-lesson-tabs></app-lesson-tabs>
      <app-topic-pills></app-topic-pills>
      <app-widget-list></app-widget-list>
    </div>
  </div>
</div>
